body {
  margin: 0;
  width: 100vw;
  height: 100dvh;
  background: #212121;
}

/* Estilo del scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
}
